.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 1s linear;
    height: 80px;
}

.App-header {
    background-color: rgba(71, 67, 1, 0.671);
    height: 150px;
    padding: 20px;
    color: rgb(235, 6, 6);
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}